{
    "plugins": ["@typescript-eslint"],
    "extends": [
      "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "project": "./tsconfig.eslint.json"
    },
    "ignorePatterns": ["*//js", "//*.d.ts"],
    "settings": {
      "import/resolver": {
        "typescript": {
          "alwaysTryTypes": true
        }
      }
    }, 
    "globals": {
      "jest": true,
      "afterAll": true,
      "afterEach": true,
      "beforeAll": true,
      "beforeEach": true,
      "before": true,
      "describe": true,
      "expect": true,
      "it": true,
      "test": true
    },
    "rules": {
        "no-new": "off",
        "no-console": "off",
        "max-len": [ "error", { "code":  120, "ignoreComments": true, "tabWidth": 2 } ],
        "@typescript-eslint/no-var-requires": "off",
        "no-template-curly-in-string": "off"
    }
  }